.collection {

    .container {

        .headers {
            margin-block-end: 2rem;

            .title {
                padding: .3rem 0;
                border-bottom: 3px solid $border-color;
            }

            h3 {
               text-transform: capitalize;
            }
        }

        .collection__filter {
            justify-content: center;
            gap: 1.5rem;
            margin-block-end: 3rem;

            div {
                padding: .7rem 1rem;
                font-size: 1rem;
                letter-spacing: .3rem;
                font-weight: 300;
                text-transform: capitalize;
                color: $red-color;
                background: $border-color;
                box-shadow: $shadow;
                border-radius: 5rem;
                transition: $transition;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .active-sneaker {
                background: $primary-color;
                color: $white-color;
            }
        }
    }

    .products {
        padding: 1rem 4rem;


        .container {

            .product-box {
                display: flex;
                gap: 2rem;
                overflow-x: scroll;
                overflow-y: none;
                scroll-snap-type: inline mandatory;
                padding-block-end: 1.2rem;
                margin-block-end: -1.2rem;

                &::-webkit-scrollbar {
                    height: .8rem;
                 }
                
                 &::-webkit-scrollbar-track {
                    background: $white-color;
                    border: 1px solid $primary-color;
                    border-radius: 5rem;
                 }
                
                 &::-webkit-scrollbar-thumb {
                    background: $gradient;
                    border-radius: 5rem;
                 }

                 &::-webkit-scrollbar-thumb:hover {
                    background: $primary-color;
                }

                &::-webkit-scrollbar-button {
                    width: 20%;
                }

                .product-content {
                    background: $gradient;
                    box-shadow: $shadow1;
                    border-radius: .5rem;
                    padding: 1.2rem;
                    min-height: 100%;
                    scroll-snap-align: start;

                    .product-top {
                        position: relative;
                        align-items: center;
                        justify-content: center;

                        .product-image {
                            width: 12rem;
                            height: 9rem;
                            padding: 1rem;

                            img {
                                object-fit: contain;
                                width: 100%;
                                height: 100%;
                                filter: contrast(1.5);
                                transition: $transition;
                                
                                &:hover {
                                    transform: rotate(-10deg) scale(1.2);
                                }
                            }
                        }

                        .product-icon {
                            position: absolute;
                            top: 1rem;
                            right: 0;
                            cursor: pointer;
    
                            i {
                                font-size: 1.5rem;
                                color: $red-color;
                            }
                        }
                    }

                    .product-bottom {
                        text-align: center;

                        h4 {
                            font-size: 1.2rem;
                            font-weight: 700;
                            letter-spacing: 1px;
                            text-transform: capitalize;
                            color: $text-color; 
                        }

                        .product-tating {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: .7rem;
                            margin-block-start: .5rem;
                            margin-block-end: 1.5rem;
    
                            i {
                                font-size: .9rem;
                                color: $white-color;
                            }
                        }

                        .product-price {
                            display: flex;
                            align-items: baseline;
                            justify-content: space-between;

                            .price {
                                font-size: 1.2rem;
                                font-weight: 700;
                                color: $white-color;
                                padding: .5rem .4rem;
                            }

                            .btn {
                                background: $border-color;
                                color: $white-color;
                                padding: .5rem .4rem;
                                font-size: .8rem;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}



/*==========Media Query==========*/
@media (max-width: 1024px) {
    .collection {

        .container {

            .headers {
    
                .title {
                    font-size: .8rem;
                }
    
                h3 {
                   font-size: 1.1rem;
                }
            }
    
            .collection__filter {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: .7rem;
                text-align: center;
    
                div {
                    font-size: .9rem;
                    letter-spacing: .2rem;
    
                    &:hover {
                        transform: scale(0);
                    }
                }
            }
        }

        .products {
            padding: 1rem;
    
            .container {
    
                .product-box {
    
                    .product-content {
    
                        .product-bottom {
    
                            h4 {
                                font-size: 1rem;
                            }
    
                            .product-tating {
        
                                i {
                                    font-size: .8rem;

                                }
                            }
    
                            .product-price {
    
                                .price {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .collection {

        .products {
            padding: 1rem 0;
    
            .container {
    
                .product-box {
                    gap: 1rem;

                    .product-content {
    
                        .product-top {
    
                            .product-image {
                                width: 11rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
}



