.collection {

    .container {

        .headers {
            margin-block-end: 2rem;

            .title {
                padding: .3rem 0;
                border-bottom: 3px solid $border-color;
            }

            h3 {
               text-transform: capitalize;
            }
        }

        .collection__filter {
            justify-content: center;
            gap: 1.5rem;
            margin-block-end: 3rem;

            div {
                padding: .7rem 1rem;
                font-size: 1rem;
                letter-spacing: .3rem;
                font-weight: 300;
                text-transform: capitalize;
                color: $red-color;
                background: $border-color;
                box-shadow: $shadow;
                border-radius: 5rem;
                transition: $transition;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .active-sneaker {
                background: $light-blue;
                color: $white-color;
            }
        }
    }

    .products {
        padding: 1rem 0;

        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, auto));
            place-items: center;
            gap: 1rem;

            .product-box {
                overflow: hidden;
                background: $gradient;
                box-shadow: $shadow1;
                border-radius: .5rem;
                padding: 0 1rem 1rem;

                .product-top {
                    position: relative;
                    align-items: center;
                    justify-content: center;

                    .product-image {
                        width: 10rem;
                        height: 10rem;

                        img {
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                            filter: contrast(1.5);
                            transform: scale(1.1);
                            transition: $transition;
                            
                            &:hover {
                                transform: rotate(-10deg) scale(1.2);
                            }
                        }
                    }

                    .product-icon {
                        position: absolute;
                        top: 1rem;
                        right: 0;
                        cursor: pointer;

                        i {
                            font-size: 1.5rem;
                            color: $red-color;
                        }
                    }
                }

                .product-bottom {
                    text-align: center;
                    
                    h1 {
                        font-size: 1.2rem;
                        font-weight: 700;
                        letter-spacing: 1px;
                        text-transform: capitalize;
                        color: $text-color;
                    }

                    .product-tating {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .7rem;
                        margin-block-start: -.7rem;
                        margin-block-end: 1.5rem;

                        i {
                            font-size: .9rem;
                            color: $white-color;
                        }
                    }

                    .product-price {
                        display: flex;
                        align-items: baseline;
                        justify-content: space-between;

                        .price {
                            font-size: 1.2rem;
                            font-weight: 700;
                            color: $white-color;
                            padding: .5rem .4rem;
                        }

                        .btn {
                            background: $border-color;
                            color: $white-color;
                            padding: .5rem .4rem;
                            font-size: .8rem;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}



/*==========Media Query==========*/
@media (max-width: 1024px) {
    .collection {

        .products {
            padding: 1rem 0;
    
            .container {
                grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    
                .product-box {
    
                    .product-bottom {
                       
                        .product-price {
    
                            .price {
                                font-size: .9rem;
                                padding: .3rem .3rem;
                            }
    
                            .btn {
                                padding: .3rem .3rem;
                            }
                        }
                    }
                }
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .collection {

        .container {

            .collection__filter {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: .7rem;
                text-align: center;
    
                div {
    
                    &:hover {
                        transform: scale(0);
                    }
                }
            }
        }
    
        .products {
            padding: 1rem 0;
    
            .container {
                grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    
                .product-box {
                    overflow: hidden;
                    background: $gradient;
                    box-shadow: $shadow1;
                    border-radius: .5rem;
                    padding: 0 1rem 1rem;
    
                    .product-top {
                        position: relative;
                        align-items: center;
                        justify-content: center;
    
                        .product-image {
                            width: 10rem;
                            height: 10rem;
    
                            img {
                                object-fit: contain;
                                width: 100%;
                                height: 100%;
                                filter: contrast(1.5);
                                transform: scale(1.1);
                                transition: $transition;
                                
                                &:hover {
                                    transform: rotate(-10deg) scale(1.2);
                                }
                            }
                        }
    
                        .product-icon {
                            position: absolute;
                            top: 1rem;
                            right: 0;
                            cursor: pointer;
    
                            i {
                                font-size: 1.5rem;
                                color: $red-color;
                            }
                        }
                    }
    
                    .product-bottom {
                        text-align: center;
                        
                        h1 {
                            font-size: 1.2rem;
                            font-weight: 700;
                            letter-spacing: 1px;
                            text-transform: capitalize;
                            color: $text-color;
                        }
    
                        .product-tating {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: .7rem;
                            margin-block-start: -.7rem;
                            margin-block-end: 1.5rem;
    
                            i {
                                font-size: .9rem;
                                color: $white-color;
                            }
                        }
    
                        .product-price {
                            display: flex;
                            align-items: baseline;
                            justify-content: space-between;
    
                            .price {
                                font-size: 1.2rem;
                                font-weight: 700;
                                color: $white-color;
                                padding: .5rem .4rem;
                            }
    
                            .btn {
                                background: $border-color;
                                color: $white-color;
                                padding: .5rem .4rem;
                                font-size: .8rem;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 540px) {
    .collection {

        .products {
            padding: 1rem;
    
            .container {
                grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    
                .product-box {
                    width: 18rem;
                }
            }
        }
    }

}