html {
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}
body {
    background: $white-color;
    color: $text-color;
    font-size: 1.6rem;
    font-weight: 400;

    &::-webkit-scrollbar{
        width: .5rem;
     }
    
     &::-webkit-scrollbar-track{
        background: $black-color;
     }
    
     &::-webkit-scrollbar-thumb{
        background: $gradient;
     }
}
.container {
    padding: 0 3rem;
    margin: 0 auto;
 }
.headers {
    text-align: center;
    margin-block-start: 3rem;
    margin-block-end: 2rem;
 
    span {
       font-size: 1.1rem;
       color: $primary-color;
       font-weight: 200;
       letter-spacing: 3px;
       text-transform: uppercase;
       padding: .3rem 0;
        border-bottom: 3px solid $border-color;
    }
 
    h3 {
       font-size: 1.7rem;
       font-weight: 500;
       margin-block-start: 1rem; 
       text-transform: capitalize;
    }
}
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5 {
    line-height: 1.2;
    font-weight: 500;
}
.section {
    padding: 2rem 0;
    overflow: hidden;
}
a {
    color: inherit;
}
p {
    line-height: 3rem;
}
.flex1 {
    display: flex;
    align-items: center;
}
.btn {
    display: inline-block;
    margin-block-start: 1rem;
    color:$white-color;
    font-weight: 700;
    background: $text-color;
    border-radius: .2rem;
    font-size: 1.4rem;
    padding: .6rem 2rem;
    box-shadow: $shadow;
    cursor: pointer;
    transition: $transition;
 
    &:hover{
       background: $transparent-color;
       transform: scale(1.04);
    }

 }


/*==========Media Query==========*/
 @media (max-width: 1024px) {
    .headers {
    
        span {
            font-size: .8rem;
        }

        h3 {
           font-size: 1.1rem;
        }
    }
 }






