.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin-block-end: 4rem;

    .navbar {
        position: relative;
        padding: .6rem 0;
        background: $text-color;
        box-shadow: $shadow;
        z-index: 1000;

        .container {
            justify-content: space-between;

            .logo {

                &:hover img {
                    transform: scale(1.4);
                }
        
                img {
                    position: relative;
                    top: .5rem;
                    width: 2.5rem;
                    transition: $transition;
                }

                span {
                    font-family: $font-logo;
                    color: $white-color;
                    font-size: 2rem;
                    font-weight: 900;
                    letter-spacing: 1px;
                }

            }

            .nav__list {

                .link-name {
                    display: inline-block;
                    padding: 1rem 2rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $white-color;
                    text-transform: capitalize;
                    transition: $transition;
    
                    &:hover {
                        color: $primary-color;
                    }
                }

                .nav__link-user, .link-icon {
                    display: none;
                }
            }

            .icons {

                .icon {
                    position: relative;
                    justify-content: center;
                    font-size: 1.7rem;
                    padding: .5rem;
                    color: $white-color;
                    cursor: pointer;
                    transition: $transition;

                    &:hover {
                        color: $primary-color;
                    }

                    &:first-child {
                        margin-right: 2rem;
                    }

                    small {
                        position: absolute;
                        top: .3rem;
                        right: .4rem;
                        display: block;
                        width: .6rem;
                        height: .6rem;
                        border-radius: 50%;
                        background: $primary-color;
                        border: 1px solid $white-color;
                        transition: $transition;
                    }

                    &:hover small {
                        background: $white-color;
                        border: 1px solid $primary-color;
                    }
                }

            }


        }
    }

}



/*==========Media Query==========*/
@media (max-width: 1024px) {
    .header {
    
        .navbar {

            .container {
                justify-content: center;
    
                .icons {
                    display: none;
                }

                .nav__list {
                    position: fixed;
                    justify-content: space-around;
                    bottom: 0;
                    margin: 0 auto;
                    width: 100%;
                    padding: .7rem;
                    background: $text-color;
                    transition: $transition;
                    z-index: 999;

                    .link-icon {
                        display: block;
                        font-size: 1.2rem;
                        color: $white-color;
                    }

                    .link-name {
                        display: none;
                    }
                }
      
            }
        }
    }
}

