.hero {
    height: 100vh;
    background: $gradient;

    .circle {
        position: absolute;
        bottom: 0;
        right: -12rem;
        filter: blur(100px);
        border-radius: 50%;
        width: 400px;
        height: 400px;
        opacity: .8;
        background: $white-color;
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .hero-info {
            margin-block-start: 10rem;
            text-align: center;

            .hero-subtitle {
                margin-block-end: -1.5rem;
                color: $primary-color;
                font-size: 1.5rem;
                font-weight: 500;
            }
    
            .hero-title {
                font-family: $font-logo;
                font-size: 7rem;
                font-weight: 900;
                text-transform: uppercase;
                background-image: linear-gradient(to top, $red-color 0%, $orange-color 100%);
                background-size: 100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: $transparent-color;
            }
    
            .hero-text {
                margin-block-start: -2rem;
                font-size: 1.7rem;
                font-weight: 200;
                color: $white-color;
            }
    
            .btn {
                background: $red-color;
                border-radius: 5rem;
                font-size: 1.1rem;
                font-weight: 200;
                text-transform: capitalize;
                letter-spacing: .3rem;
            }
        }

        .hero-image {
            width: 50%;
            filter: contrast(1.5);
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .hero {
    
        .circle {
            bottom: -5rem;
            right: -15rem;
        }
    
        .container {
            flex-direction: column;
            align-items: center;
    
            .hero-info {
                margin-block-start: 2rem;
    
                .hero-subtitle {
                    margin-block-end: -1rem;
                    font-size: 1.3rem;
                }
        
                .hero-title {
                    font-size: 5rem;
                    letter-spacing: .5rem;
                }
        
                .hero-text {
                    margin-block-start: -1.2rem;
                    font-size: 1.4rem;
                }
        
                .btn {
                    font-size: 1rem;
                }
            }
    
            .hero-image {
                width: 100%;
            }
        }
    }
    
}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .hero {
    
        .circle {
            bottom: -7rem;
            right: -17rem;
        }
    
        .container {
    
            .hero-info {
                margin-block-start: 1.5rem;
    
                .hero-subtitle {
                    margin-block-end: -1rem;
                    font-size: 1rem;
                }
        
                .hero-title {
                    font-size: 4rem;
                    letter-spacing: .1rem;
                }
        
                .hero-text {
                    margin-block-start: -1rem;
                    font-size: 1rem;
                }
        
                .btn {
                    border-radius: .5rem;
                    font-size: .9rem;
                    letter-spacing: .2rem;
                }
            }

        }
    }
    
}
