.hero {
    height: 100vh;
    background: $gradient;

    .container {
        height: 100%;
        justify-content: center;

        .hero-info {
            text-align: center;
            margin-left: 10rem;
            z-index: 10;
    
            .hero-subtitle {
                text-transform: capitalize;
                font-size: 1.5rem;
                font-weight: 400;
                color: $text-color;
            }
    
            .hero-title {
                font-family: $font-logo;
                font-size: 7rem;
                font-weight: 1000;
                letter-spacing: .5rem;
                margin-block-start: 1rem;
                text-transform: uppercase;
                background-image: linear-gradient(to top, $red-color 0%, $orange-color 100%);
                background-size: 100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: $transparent-color;
            }
    
            .hero-text {
                font-size: 1.5rem;
                font-weight: 300;
                color: $white-color;
                margin-block-start: -5.5rem;
                margin-block-end: 3rem;
            }
    
            .btn {
                background: $btn-gradient;
                border-radius: 5rem;
                text-transform: capitalize;
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: 2px;
            }
        }

        .hero-image {
            position: relative;
            right: 7rem;
            bottom: 0;
            width: 40%;
        }
    }
}



/*==========Media Query==========*/
@media (max-width: 1024px) {
    .hero {
    
        .container {
           flex-direction: column;
    
            .hero-info {
                margin-block-start: 2rem;
                margin-left: 0;
        
                .hero-subtitle {
                    font-size: 1.2rem;
                }
        
                .hero-title {
                    font-size: 5rem;
                    letter-spacing: -.1rem;
                    margin-block-start: -.5rem;
                }
        
                .hero-text {
                    font-size: 1.2rem;
                    margin-block-start: -4.5rem;
                    margin-block-end: .5rem;
                }
        
                .btn {
                    font-size: .9rem;
                    letter-spacing: 1px;
                }
            }
    
            .hero-image {
                right: 0;
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .hero {
    
        .container {
            flex-direction: column;

            .hero-info {
                margin-block-start: 1rem;
        
                .hero-subtitle {
                    font-size: 1rem;
                }
        
                .hero-title {
                    font-size: 4.2rem;
                    margin-block-start: -.2rem;
                }
        
                .hero-text {
                    font-size: 1rem;
                    margin-block-start: -3.5rem;
                    margin-block-end: .2rem;
                }
        
            }

            .hero-image {
                margin-block-start: 1rem;
                width: 100%;
            }
    
        }
    }
}