.hero {
    overflow-x: hidden;
    height: auto;
    background: $gradient;
    box-shadow: $shadow1;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .hero-info {
            margin-block-start: 8rem;
            margin-left: 5rem;
            text-align: center;

            .hero-subtitle {
                margin-block-end: -1rem;
                color: $primary-color;
                font-size: 1.4rem;
                font-weight: 500;
            }
    
            .hero-title {
                font-family: $font-logo;
                font-size: 6rem;
                font-weight: 900;
                text-transform: uppercase;
                background-image: linear-gradient(to top, $red-color 0%, $orange-color 100%);
                background-size: 100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: $transparent-color;
            }
    
            .hero-text {
                margin-block-start: -1rem;
                font-size: 1.4rem;
                font-weight: 200;
                color: $white-color;
            }
    
            .btn {
                background: $red-color;
                border-radius: 5rem;
                font-size: 1rem;
                font-weight: 200;
                text-transform: capitalize;
                letter-spacing: .3rem;
            }
        }

        .hero-image {
            margin-block-start: 3rem;
            width: 65%;
            filter: contrast(1.5);
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .hero {
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
    
        .container {
            flex-direction: column;
            align-items: center;
    
            .hero-info {
                margin-block-start: 6rem;
                margin-left: 0;
    
                .hero-subtitle {
                    font-size: 1.2rem;
                }
        
                .hero-title {
                    font-size: 5rem;
                }
        
                .hero-text {
                    font-size: 1.2rem;
                }
        
                .btn {
                    font-size: .9rem;
                }
            }
    
            .hero-image {
                margin-block-start: -1rem;
                width: 100%;
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .hero {
        
        .container {
            flex-direction: column;
            align-items: center;
    
            .hero-info {
                margin-block-start: 5rem;
                margin-left: 0;
    
                .hero-subtitle {
                    font-size: 1.1rem;
                }
        
                .hero-title {
                    font-size: 3.5rem;
                    font-weight: 300;
                    letter-spacing: -3px;
                }
        
                .hero-text {
                    font-size: 1.1rem;
                    margin-block-end: -1rem;
                }
        
                .btn {
                    padding: .3rem .5rem;
                    font-size: .8rem;
                    margin-block-end: 1rem;
                }
            }
        }
    }
    
}
