.shop {
    padding: 0 4rem;

    .container {

        .shop__products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 2rem;
            place-items: center;

            .all-products {
                overflow: hidden;
                border: 1px solid hsla(0, 0%, 0%, 0.103);
                border-radius: 1rem;
                width: 100%;
                background: $white-color;
                box-shadow: $shadow1;
                transition: $transition;
                
                &:hover .shop-top{
                    background: $gradient;
                }

                .shop-top  {
                    position: relative;
                    height: 9rem;
                    justify-content: center;
                    padding: 1rem;
                    background: $border-color;
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;

                    img {
                        object-fit: contain;
                        height: 100%;
                    }
                }

                .bottom-shop {
                    padding: 1rem;

                    .flex1 {
                        justify-content: space-between;
                        align-items: baseline;

                        h4 {
                            font-size: 1.2rem;
                            font-weight: 700;
                            color: $grey-color;
                            text-transform: capitalize;
                        }
    
                        .btn {
                            background: $border-color;
                            color: $grey-color;
                            padding: .5rem;
                            border-radius: .5rem;
                            font-size: .9rem;
                            font-weight: 700;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                        }
                    }
                }

                .shop-price {
                    justify-content: center;
                    padding: 1rem 0;

                    & div {
                        font-size: 1.1rem;
                        font-weight: 700;
                        color: $grey-color;
                        padding: .5rem;
                        border-radius: .5rem;
                        box-shadow: $shadow1;
                        transition: $transition;
                    }
                }
            }
        }

        .shop-bottom {
            justify-content: center;
            padding: 3rem 0;

            .btn-more {
                background: $border-color;
                color: $grey-color;
                padding: .7rem;
                border-radius: 5rem;
                font-size: .9rem;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: capitalize;
                transition: $transition;

                &:hover {
                    background: $primary-color;
                    color: $white-color;
                }
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .shop {
        padding: 1rem 0;
    
        .container {
            padding: 0 1rem;
    
            .shop__products {
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
                .all-products {
                    width: 20rem;
                    
                    &:hover .shop-top{
                        background: $border-color;
                    }
    
                    .bottom-shop {
    
                        .flex1 {
    
                            h4 {
                                font-size: 1rem;
                            }
        
                            .btn {
                                font-size: .8rem;
                            }
                        }
                    }
    
                    .shop-price {
    
                        & div {
                            font-size: .9rem;
                        }
                    }
                }
            }
    
            .shop-bottom {
    
                .btn-more {
                    font-size: .8rem;
    
                    &:hover {
                        background: $border-color;
                    }
                }
            }
        }
    
    }

}


@media (max-width: 768px) {
    .shop {
        padding: 1rem 0;
    
        .container {
    
            .shop__products {
                grid-template-columns: 1fr;
    
                .all-products {
                    width: 21rem;
                }
            }
        }
    }

}